

<div class="navitagorDiv" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<a class="navbar-brand" href="#nowhere">MeetHere场馆预约管理系统后台</a>

		<a class="navbar-brand" href="admin_district_list">区域管理</a>
		<a class="navbar-brand" href="admin_user_list">用户管理</a>
		<a class="navbar-brand" href="admin_news_list">新闻管理</a>
		<a class="navbar-brand" href="admin_booking_list">订单管理</a>
		<span th:if="${null!=session.admin}">
		<a th:text="${session.admin.name}"></a>
		<a href="alogout" >退出</a>
	</span>

	</nav>
</div>
