<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('用户管理')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var sName = getUrlParms("sName");
        var sNickName = getUrlParms("sNickName");
        var data4Vue = {
            uri:'users',
            beans: [],
            searchbean:{id:null,name:null,nickname:null},
            pagination:{},
            flag:0,
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                // console.log(this);
                if(this.flag==0) this.list(0);
            },
            methods: {

            //     list:function(start){
            //         var url =  this.uri+ "?start="+start;
            //     // console.log(vue.searchbean);
            //
            //         var _vue;
            // axios.get(url).then(function(response) {
            //             vue.pagination = response.data.data;
            //             vue.beans = response.data.data.content;
            //             vue.flag=0;
            //             console.log(vue.beans);
            //             console.log(vue);
            //             _vue=vue;
            //         });
            //         console.log(_vue.searchbean);
            //
            //     },

                list:function(start){
                    var url =  this.uri+ "?start="+start;
                    console.log(this);
                    console.log(this.searchbean);
                    axios.post(url,this.searchbean).then(function(response) {
                        console.log(response.data);

                        vue.pagination = response.data.data;
                        vue.beans = response.data.data.content;
                        // vue.searchbean = {id:null,name:null,nickname:null};
                        // vue.flag = 1;
                        console.log(vue.beans);
                        console.log(vue);

                    });

                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }
        });
    });

</script>

<div id="workingArea" style="margin:0px auto;margin-top: 0px">
    <div style="position: relative">
        <div style="position: absolute;z-index: 1">
            <img src="img/3.jpg" style="height: 100%;width: 100%">
        </div>
        <div style="position: absolute;z-index: 2;background-color:rgba(255,255,255,0.6);width: 1265px;height:790px;">    </div>
        <div style="position: absolute;z-index:3;width: 100%;height: 100%">
            <div style="margin-top: 10px">
                <ol class="breadcrumb">
                    <li><a href="admin_district_list">管理员</a></li>
                    <!--<li><a :href="'admin_venue_list?did='+district.id">{{district.name}}</a></li>-->
                    <li class="active">用户管理</li>
                </ol>
            </div>

            <div style="position: relative">
                <div align="right" style="position: relative;margin-left: -250px">
                    <div class="searchDiv" style="position: relative; width: 180px">
                        <div style="position: absolute;z-index: 1">
                            <input type="text" @keyup.enter="list(0)" v-model.trim="searchbean.name" style="width: 160px" placeholder="请输入用户名" />
                        </div>
                    </div>
                </div>
                <div class="searchDiv" style="position: absolute; width: 290px;z-index: 4;top: -50px;left: 580px">
                    <div style="position: absolute;z-index: 1">
                        <input type="text" @keyup.enter="list(0)" v-model.trim="searchbean.nickname" style="width: 160px" placeholder="请输入昵称" />
                    </div>
                    <div style="position: absolute;z-index:2;right: 0px">
                        <button @click="list(0)" class="searchButton btn-primary">搜索</button>
                    </div>
                </div>
                <br>
    <!--<h1 class="label label-info" >用户管理</h1>-->
    <!--<table>-->
        <!--<div class="searchDiv">-->
            <!--<input type="text"-->
                   <!--@keyup.enter="list(0)" v-model.trim="searchbean.name" placeholder="请输入用户名" />-->
            <!--<input type="text"-->
                   <!--@keyup.enter="list(0)" v-model.trim="searchbean.nickname" placeholder="请输入昵称" />-->
            <!--<button @click="list(0)" class="searchButton">搜索</button>-->
        <!--</div>-->
    <!--</table>-->
    <!--<br>-->
                <div class="listDataTableDiv" align="center" style="min-height:200px;">
                    <table class="table table-striped table-bordered table-hover  table-condensed" style="width: 80%;border-radius: 4px;border: 2px #CCCCCC solid;  background-color: #f5f5f5;">
                        <thead>
                        <tr class="success">
                            <th>ID</th>
                            <th>用户名</th>
                            <th>头像</th>
                            <th>昵称</th>
                            <th>手机号</th>
                            <th>邮箱</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="bean in beans ">
                            <td>{{bean.id}}</td>
                            <td>{{bean.name}}</td>
                            <td>
                                <img v-if="bean.faceImage!=null" height="50px" :src="'img/faceImage/'+bean.id+'.jpg'">
                            </td>
                            <td>{{bean.nickname}}</td>
                            <td>{{bean.phoneNumber}}</td>
                            <td>{{bean.email}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

    <!--<div th:replace="include/admin/adminPage::html" ></div>-->
                <div style="margin-top: 50px;margin-bottom: 50px;" align="center">
                    <div class="pageDiv" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
                        <ul class="pagination">
                            <li :class="{ disabled: pagination.first }">
                                <a  href="#nowhere" @click="jump('first')">«</a>
                            </li>
                            <li :class="{ disabled: !pagination.hasPrevious }">
                                <a  href="#nowhere" @click="jump('pre')">‹</a>
                            </li>
                            <li  v-for="i in pagination.navigatepageNums">
                                <a href="#nowhere" @click="jumpByNumber(i-1)" >
                                    {{i}}
                                </a>
                            </li>
                            <li :class="{ disabled: !pagination.hasNext }">
                                <a  href="#nowhere" @click="jump('next')">›</a>
                            </li>
                            <li :class="{ disabled: pagination.last }">
                                <a  href="#nowhere" @click="jump('last')">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>
