
<div th:fragment="html"> 
	<div class="productReviewDiv wrap_gray" style="margin-left: -120px;margin-top:0px;margin-bottom:0px;width: 1260px">
		<div class="productReviewTopPart" style="margin-left: 170px;width: 840px">
			<a  href="#nowhere" class="selected">累计评价 <span class="productReviewTopReviewLinkNumber">{{bean.reviewCount}}</span> </a>
		</div>
		
		<div class="productReviewContentPart" style="margin-left: 170px;width: 840px">
			<div class="productReviewItem" v-for="message in messages">
				<div class="productReviewItemDesc">
					<div class="productReviewItemContent">
						{{message.content }}
					</div>
					<div class="productReviewItemDate">
						{{message.createDate}}
					</div>
				</div>
				<div class="productReviewItemUserInfo">
					{{message.user.anonymousName}}<span class="userInfoGrayPart">（匿名）</span>
				</div>
				<!--<div style="clear:both;margin-top: -10px" ></div>-->

			</div>
		</div>
		<div style="margin-left: 500px">
			<div th:replace="include/admin/adminPage::html" style="margin-left: 200px"></div>
		</div>
	</div>
</div>
