
<div th:fragment="html"> 
	<script>
		$(function(){
	        var data4Vue = {
	        		uri:'bookings/mine',
	        		beans:[],
				bean:{},
				searchbean:{id:null,state:'',timeSlot:{'id':0,bookingDate:''},
					user:{'id':0,name:""},venue:{'id':0,name:""}},
				pagination:'',
				myreview:{id:'',content:'',stateDesc:'',createDate:''},
				msg:'',
				msgFromMyModal:'操作成功！',
				user:{name:'', password:''}

			};
	        //ViewModel
	        var vue = new Vue({
	            el: '#workingArea',
	            data: data4Vue,
	            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
	            	this.list(0);
	            },        
	            methods: {     	
	            	list:function(start){
						var url =  this.uri+"?start="+start;
						console.log(this.searchbean);
						axios.post(url,this.searchbean).then(function(response) {
							console.log(response.data.data);
							console.log(response.data.data.content);
							vue.pagination = response.data.data;
							vue.beans = response.data.data.content;
							vue.$nextTick(function(){
								// linkDefaultActions();
								orderPageRegisterListeners(this);
							})
						});
	            	},
					showMyReview: function(id){
	            		vue.myreview="";
						var url =  "messages/mine?bid="+id;
						axios.get(url).then(function(response) {
							var status = response.data.status;
							if(status==200) {
								console.log(response.data.data);
								vue.myreview = response.data.data;
								$("#myReview"+id).toggle();
							}else if(status==501){
								$("#loginModal").modal('show');
							}
						})
					},
					deleteMyReview: function(bid,mid){
						var url =  "messages/"+mid;
						axios.delete(url).then(function(response) {
							var status = response.data.status;
							if(status==200) {
								vue.list(vue.pagination.number);
								$("#myReview"+bid).hide();
								vue.list(vue.pagination.number);
							}else if(status==501){
								$("#loginModal").modal('show');
							}
						})
					},
					changeRemark:function(bid){
						$("#remarkTR"+bid).toggle();
					},
					update:function(bean){
						console.log(bean);
						var url =  "bookings";
						var id = bean.id;
						$("#rmid"+id).css("border","2px solid yellow");
						axios.put(url,bean).then(function(response) {
							var status = response.data.status;
							if(status==200) {
								$("#rmid"+id).css("border","2px solid green");
								vue.msgFromMyModal = "修改成功！";
								$("#myModal").modal('show');
							}else if(status==501){
								$("#loginModal").modal('show');
							}
						});
					},
					arrive: function(id){
						var url =  "bookings/arrive?id="+id;
						axios.put(url).then(function(response) {
							var status = response.data.status;
							if(status==200) {
								vue.list(vue.pagination.number);
							}else if(status==501){
								$("#loginModal").modal('show');
							}
						})
					},
					pay:function(bid,total){
						var url = "checkLogin";
						axios.get(url).then(function(response) {
							var status = response.data.status;
							if(status==200) {
								location.href = "pay?bid="+bid+"&total="+total;
							}
							else{
								$("#loginModal").modal('show');
							}
						});
					},
					review:function(vid,bid){
						var url =  "messages/mine?bid="+bid;
						axios.get(url).then(function(response) {
							console.log(response.data.data);
							res = response.data.data;
							var status = response.data.status;
							if(status==200) {
								if(res==null)
									location.href="review?vid="+vid+"&bid="+bid;
								else {
									vue.msgFromMyModal = "您已评价过该订单！";
									$("#myModal").modal('show');
									setTimeout(function () {
										location.href = "bought";
									}, 2000);
								}
							}else if(status==501){
								$("#loginModal").modal('show');
							}

						})
					},
					login:function(){
						var url =  "login";
						if(0==this.user.name.length){
							$("span.errorMessage").html("请输入用户名");
							$("div.loginErrorMessageDiv").css("visibility","visible");
							return;
						}
						if(0==this.user.password.length){
							$("span.errorMessage").html("请输入密码");
							$("div.loginErrorMessageDiv").css("visibility","visible");
							return;
						}

						axios.post(url,this.user).then(function(response) {
							var result = response.data;
							if(result.status==200){
								location.href="bought";
							}
							else{
								$("span.errorMessage").html(result.msg);
								$("div.loginErrorMessageDiv").css("visibility","visible");
							}
						});
					},
					jump: function(page){
						jump(page,vue); //定义在adminHeader.html 中
					},
					jumpByNumber: function(start){
						jumpByNumber(start,vue);
					}
	            }
	        });       			
		});
		var bid = 0;
		var mid = 0;
		var flag = false;
		var current = 0;
		//1 取消订单
		//2 删除订单
		//3 删除评论
		function orderPageRegisterListeners(vue){
			$("a.cancelLink").click(function(){
				bid = $(this).attr("bid");
				flag = false;
				current = 1;
				vue.msg="确认取消该订单？";
				$("#deleteConfirmModal").modal("show");
			});

			$("a.deleteOrderLink").click(function(){
				bid = $(this).attr("bid");
				flag = false;
				current = 2;
				vue.msg="确认删除该订单？删除后将无法恢复！";
				$("#deleteConfirmModal").modal("show");
			});

			$("a.deleteReviewLink").click(function(){
				bid = $(this).attr("bid");
				mid = $(this).attr("mid");
				flag = false;
				current = 3;
				vue.msg="确认删除该评论？";
				$("#deleteConfirmModal").modal("show");
			});

			$("button.deleteConfirmButton").click(function(){
				flag = true;
				$("#deleteConfirmModal").modal('hide');
				if(flag){
					if(current == 1) {
						var url = "bookings/cancel/" + bid;
						axios.put(url).then(function (response) {
							var res = response.data.status;
							if(res==200) {
								vue.list(vue.pagination.number);
								vue.msgFromMyModal = "成功取消订单！";
								$("#myModal").modal('show');
							} else if(res==501) {
								$("#loginModal").modal('show');
							}
						})
					}else if(current == 2){
						url = "bookings/delete/"+bid;
						axios.put(url).then(function(response){
							var res = response.data.status;
							if(res==200) {
								vue.list(0);
								vue.msgFromMyModal = "成功删除订单！";
								$("#myModal").modal('show');
								$("#deleteConfirmModal").modal('hide');
							} else if(res==501) {
								$("#loginModal").modal('show');
							}
						});

					}else if(current == 3){
						url =  "messages/"+mid;
						axios.delete(url).then(function(response) {
							var res = response.data.status;
							if(res==200) {
								vue.list(vue.pagination.number);
								$("#myReview"+bid).hide();
								vue.msgFromMyModal = "成功删除评论！";
								$("#myModal").modal('show');
								$("#deleteConfirmModal").modal('hide');
							} else if(res==501) {
								$("#loginModal").modal('show');
							}

						})
					}
				}
			});
		}
	</script>
	<style>
		#register_div{
			/* 居中*/
			float: left;
			/*position: absolute;
            left: 50%; top: 100%;
            width: 500px; height: 330px;
            /* 透明遮罩层 */
			height: 120%;
			background:rgba(255,255,255,0.6)
		}

		#left{
			line-height:30px;

			height:500px;
			width:300px;
			float:left;
			padding:5px;
			font-size: 20px;
		}
		#section {
			position: relative;
			width:600px;
			float: left;
			padding:10px;
			margin-left: 2cm;
		}
		#bottom {
			position: relative;

			float: bottom;
			padding:10px;
			margin-left: -11cm;
			margin-right: 4cm;
			margin-top: -2cm;
			margin-bottom: 8cm;

		}
		#right {
			/*width:500px;
            float:right;
            float: top;
            padding:0px;*/
			position: relative;
			line-height:30px;
			height:500px;
			width:300px;
			float:left;
			padding:0px;
			font-size: 5px;

		}
		#content{
			width: 800px;
			/* float: right; */
			padding: 15px;
			position: relative;
			/*margin-bottom: 11cm;*/
			/* margin-right: 4cm; */
			margin-left: 250px;
		}
		#footer {
			background-color:cornflowerblue;
			color:white;
			clear:both;
			text-align:center;
			padding:5px;
		}
	</style>
	<div style="position: relative">
		<div style="position: absolute;z-index: 1">
			<img src="img/3.jpg" style="height: 100%;width: 100%">
		</div>
		<div style="position: absolute;z-index: 2;background-color:rgba(255,255,255,0.6);width: 1265px;height:790px">    </div>
		<div style="position: absolute;z-index:3;width: 100%;height: 100%">


		<div align="center" style="position: relative">


			<div align="center" style="background-color:yellow;position: relative;">
				<div class="dropdown"
					 style="background-color:black;	margin: 50px auto;width:30%;z-index: 2;position: relative;display:inline-block">
					<select v-model="searchbean.state" style="height: 40px;font-size:medium;border-radius: 4px;">
						<option value="">请选择状态</option>
						<option value="waitApprove">待审核</option>
						<option value="refused">驳回</option>
						<option value="waitPay">待付款</option>
						<option value="waitTime">未到预约时间</option>
						<option value="waitArrive">待到达</option>
						<option value="waitFinish">进行中</option>
						<option value="waitReview">可留言</option>
						<option value="finish">已结束</option>
						<option value="cancelled">已取消</option>
					</select>
				</div>

				<div class="searchDiv" style="background-color:red;width:70%;position: relative; width: 400px;display:inline-block">
					<div style="position: absolute;z-index: 2">
						<input type="text" @keyup.enter="list(0)" v-model.trim="searchbean.venue.name" placeholder="请输入场馆名" />
					</div>
					<div style="position: absolute;z-index:2;right: 0px">
						<button @click="list(0)" class="searchButton btn-primary">搜索</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>

		<div id="content" align="center">
			<div class="row"  style="margin-left: 100px;width: 80%">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default text-left no-boder">
						<div class="panel-heading">
							订单列表
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover" id="dataTables-categoris">
									<thead>
									<tr>
										<th>预约场馆</th>
										<th>预约日期</th>
										<th>预约起始时间</th>
										<th>预约终止时间</th>
										<th>订单创建时间</th>
										<th>状态</th>
										<th style="width: 300px">操作</th>

									</tr>
									</thead>
									<tbody id="tbody-categoris" v-for="bean in beans ">
										<tr>
											<td>
												<a :href="'venue?id='+bean.venue.id">
												{{bean.venue.name}}
												</a>
											</td>
											<td>{{bean.timeSlot.bookingDate}}</td>
											<td>{{bean.timeSlot.beginTime}}:00</td>
											<td>{{bean.timeSlot.beginTime+1}}:00</td>
											<td>{{bean.createDate}}</td>
											<td>{{bean.stateDesc}}</td>
											<td valign="top" class="orderListItemButtonTD orderItemOrderInfoPartTD" width="100px">

												<button v-if="bean.state=='waitPay'" @click="pay(bean.id,bean.venue.price)" class="orderListItemConfirm">付款</button>
												<button  v-else-if="bean.state=='waitArrive'" class="btn btn-primary orderListItemArrive" @click="arrive(bean.id)">我已到达</button>

														<button v-else-if="bean.state=='waitReview'" @click="review(bean.venue.id,bean.id)" class=" btn btn-primary orderListItemReview">留言</button>

														<button  v-else-if="bean.state=='finish'" @click="showMyReview(bean.id)" class=" btn btn-primary orderListItemReview">查看我的留言</button>
													<a v-if="bean.state=='waitApprove'||bean.state=='waitPay'" class="cancelLink" :bid="bean.id" type="button">
														<button class="btn btn-warning">取消预订</button>
													</a>

														<button v-if="bean.state=='waitApprove'||bean.state=='waitPay'||bean.state=='waitTime'" @click="changeRemark(bean.id)" class="btn btn-primary">修改</button>
													<a  class="deleteOrderLink" :bid="bean.id" type="button">
														<span  class="orderListItemDelete glyphicon glyphicon-trash"></span></a>

											</td>
										</tr>
										<tr class="orderPageOrderItemTR" style="display: none" :id="'remarkTR'+bean.id">
											<td colspan="10" align="center">

												<div  class="orderPageOrderItem">
													<table width="400px" align="center" class="orderPageOrderItemTable">

														<tr>
															<input @keyup.enter="update(bean)" :id="'rmid'+bean.id"
																   v-model="bean.remark" placeholder="告诉管理员你的需求吧！" type="text">
															<span>（按enter键保存）</span>
														</tr>
													</table>
												</div>

											</td>
										</tr>
										<tr class="orderPageOrderItemTR"  style="display: none" :id="'myReview'+bean.id">
											<td colspan="10" align="center">

												<div  class="orderPageOrderItem">
													<table width="400px" align="center" class="orderPageOrderItemTable">

														<tr>
															<td  colspan="2">{{myreview.content}}</td>
															<td  colspan="2">
																<a  class="deleteReviewLink" :mid="myreview.id" :bid="bean.id" type="button" >
																	<span  class="orderListItemDelete glyphicon glyphicon-trash" style="margin-left: 180px"></span>
																</a>	<!--<button  @click="deleteMyReview(bean.id, myreview.id)" class=" btn btn-primary orderListItemReview">删除我的留言</button>-->
															</td>
														</tr>
														<tr>
															<td>{{myreview.createDate}}</td>
															<td>{{myreview.stateDesc}}</td>

														</tr>

													</table>
												</div>

											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div th:replace="include/admin/adminPage::html" ></div>
		</div>
		</div>
</div>
</div>