<div class th:fragment="html">
    <form action="forevenues" method="get" >

    <div class="searchDiv">
        <input type="text" name="keyword" placeholder="请输入场馆名" />
<!--        <table class="categorySortBarTable categorySortTable">-->
<!--            <tr>-->
<!--                <td :class="{'grayColumn':(sort==null||sort=='all')}"><a :href="'?sort=all'">综合<span class="glyphicon glyphicon-arrow-down"></span></a></td>-->
<!--                <td :class="{'grayColumn':(sort==null||sort=='review')}"><a :href="'?sort=review'">人气<span class="glyphicon glyphicon-arrow-down"></span></a></td>-->
<!--                <td :class="{'grayColumn':(sort==null||sort=='saleCount')}"><a :href="'?sort=saleCount'">销量<span class="glyphicon glyphicon-arrow-down"></span></a></td>-->
<!--                <td :class="{'grayColumn':(sort==null||sort=='price')}"><a :href="'?sort=price'">价格<span class="glyphicon glyphicon-resize-vertical"></span></a></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <div class="dropdown">-->
<!--            区域：-->
<!--            <select name="did" >-->
<!--                <option value="0">全部</option>-->
<!--                <option v-for="district in districts" :value="district.id" >-->
<!--                    {{district.name}}-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <table class="categorySortBarTable">-->
<!--            <tr>-->
<!--                <td><input class="sortBarPrice"  name="minPrice" type="text" placeholder="请输入"></td>-->
<!--                <td class="grayColumn priceMiddleColumn">-</td>-->
<!--                <td><input class="sortBarPrice"  name="maxPrice" type="text" placeholder="请输入"></td>-->
<!--            </tr>-->
<!--        </table>-->

        <button  type="submit" class="searchButton">搜索</button>
    </div>
    </form>

</div>
