<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:include="include/admin/adminHeader::html('News Detail')" ></head>  不能加载，一加载就是css失效-->
<head th:include="include/fore/navigator::html('新闻')" ></head>
<title>新闻</title>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <meta content="telephone=no" name="format-detection">

    <link href="css/main.css" rel="stylesheet" type="text/css"/>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script> <!-- vue.js 格式化日期用的 -->
</head>

<script>
    //获取地址栏参数的函数
    function getUrlParms(para){
        var search=location.search; //页面URL的查询部分字符串
        var arrPara=new Array(); //参数数组。数组单项为包含参数名和参数值的字符串，如“para=value”
        var arrVal=new Array(); //参数值数组。用于存储查找到的参数值

        if(search!=""){
            var index=0;
            search=search.substr(1); //去除开头的“?”
            arrPara=search.split("&");

            for(i in arrPara){
                var paraPre=para+"="; //参数前缀。即参数名+“=”，如“para=”
                if(arrPara[i].indexOf(paraPre)==0&& paraPre.length<arrPara[i].length){
                    arrVal[index]=decodeURI(arrPara[i].substr(paraPre.length)); //顺带URI解码避免出现乱码
                    index++;
                }
            }
        }

        if(arrVal.length==1){
            return arrVal[0];
        }else if(arrVal.length==0){
            return null;
        }else{
            return arrVal;
        }
    }

    $(function(){
        var data4Vue = {
            uri:'news',
            bean:{},
            keyword:'',
            pagination:{}
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    console.log("id="+id);
                    var url =  this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        console.log(response.data);
                        vue.bean = response.data.data;
                        // vue.keyword='';
                    });
                }
            }
        });
        Vue.filter('formatDateFilter', function (value, formatString) {
            if(null==value)
                return "";
            formatString = formatString || 'YYYY-MM-DD HH:mm:ss';
            return moment(value).format(formatString);
        });
    });
</script>

<body>
<div id="workingArea">
    <!--<div class="wrapper">-->
        <!--<article class="container articles">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12 col-md-9 article_text">-->
                    <!--<div class="current">-->
                        <!--<h1 class="text-center yel_line current__title">{{bean.title}}</h1>-->
                        <!--<p class="text-center yel_line current__title">{{bean.createDate | formatDateFilter}}</p>-->
                        <!--<p class="current__text">{{bean.content}}</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</article>-->
    <!--</div>-->

    <!-- END header -->
    <!-- header slider -->
    <div class="wrapper">
        <article class="container articles">
            <div class="col-sm-12 col-md-9 article_text">
                <div class="current">
                    <h1 class="text-center current__title">{{bean.title}}</h1>
                    <h5 class="text-center">{{bean.createDate}}</h5>
                    <br><br>
                    <p class="current__text">{{bean.content}}</p>
                </div>
            </div>
        </article>
    </div>
</div>

<script src="js/jquery/2.0.0/jquery.min.js"></script>
<script src="js/bootstrap/3.3.6/bootstrap.min.js" ></script>
<script src="js/main.js"></script>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <!--<meta content="" name="description">-->
    <!--<meta content="" name="keywords">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta name="HandheldFriendly" content="true">-->
    <!--<meta content="telephone=no" name="format-detection">-->
    <!--&lt;!&ndash; favicon &ndash;&gt;-->
    <!--<link rel="shortcut icon" type="image/png" href="favicon.png" />-->
    <!--&lt;!&ndash;[if (gt IE 9)|!(IE)]>&lt;!&ndash;>-->
    <!--&lt;!&ndash; custom CSS &ndash;&gt;-->
    <!--<link href="css/main.css" rel="stylesheet" type="text/css"/>-->
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--<title>News</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Header &ndash;&gt;-->



<!--</body>-->
<!--</html>-->

