<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/navigator::html('所有新闻')" ></head>
<head th:include="include/admin/adminHeader::html('所有新闻')" ></head>
<title>所有新闻</title>
<body>
<script>
    //为了让jump成立，我把adminHeader里面的拿出来了（不知道原因）
    //跳转函数
    function jump(page,vue){
        if('first'== page && !vue.pagination.first)
            vue.list(0);
        else if('pre'== page &&	vue.pagination.hasPrevious )
            vue.list(vue.pagination.number-1);
        else if('next'== page && vue.pagination.hasNext)
            vue.list(vue.pagination.number+1);
        else if('last'== page && !vue.pagination.last)
            vue.list(vue.pagination.totalPages-1);
    }
    //跳转函数
    function jumpByNumber(start,vue){
        if(start!=vue.pagination.number)
            vue.list(start);
    }

    $(function(){
        var data4Vue = {
            uri:'news',
            beans: [],
            bean:{},
            keyword:'',
            pagination:{}
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },
            methods: {
                list:function(start){
                    var url =  this.uri+ "?start="+start+"&keyword="+this.keyword;
                    axios.get(url).then(function(response) {
                        console.log(response.data);
                        vue.pagination = response.data.data;
                        vue.beans = response.data.data.content;
                        // vue.keyword='';
                    });
                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }
        });
        Vue.filter('formatDateFilter', function (value, formatString) {
            if(null==value)
                return "";
            formatString = formatString || 'YYYY-MM-DD HH:mm:ss';
            return moment(value).format(formatString);
        });
    });
</script>

<div id="workingArea">
    <div style="position: relative">
        <div style="position: absolute;z-index: 1">
            <img src="img/3.jpg" style="height: 100%;width: 100%">
        </div>
        <div style="position: absolute;z-index: 2;background-color:rgba(255,255,255,0.6);width: 1265px;height:790px">    </div>
        <div style="position: absolute;z-index:3;width: 100%;height: 100%">
            <div align="center">
                <div class="searchDiv" style="position: relative">
                    <div style="position: absolute;z-index: 1">
                        <input @keyup.enter="list(0,keyword)" v-model.trim="keyword" type="text" placeholder="请输入新闻标题">
                    </div>
                    <div style="position: absolute;z-index:2;right: 0px">
                        <button  @click="list(0,keyword)" class="searchButton btn-primary" >搜索</button>
                    </div>
                </div>
            </div>


            <div style="position: absolute;left: 32%" >
                <p class="h2">最新新闻</p>
                <div style="position: absolute;left: 50px">
                    <ul class="news-tabs__nav nav nav-tabs shadow_text" role="tablist">
                        <div v-for="bean in beans " style="margin-top: 10px">
                            <li role="presentation">
                                <div>
                                    <span class="time" style="width: 200px;color">{{bean.createDate | formatDateFilter}}</span>
                                </div>
                                <a :href="'new?id='+bean.id" role="tab"  style="margin-top: -8px;	color: #3C3C3C;font-size: 16px;font-weight: bold;">
                                    &nbsp;&nbsp;&nbsp;{{bean.title}}
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

            <div style="position:relative;margin-top: 49%" align="center">
                <div th:replace="include/admin/adminPage::html" ></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
