<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/navigator::html('个人信息')" ></head>
<head th:include="include/admin/adminHeader::html('个人信息')" ></head>
<title>个人信息</title>

<body>
<script>
//判断是否手机号 
function checkPhone(phone){ 
    if(!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))){ 
        alert("手机号码有误，请重填");  
        return false; 
    } 
	return true;
}
//判断是否邮箱
function checkEmail(email){ 
	 var pattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
    if(!(pattern.test(email))){ 
        alert("邮箱格式有误，请重填");  
        return false; 
    } 
	return true;

}
    $(function(){
        var data4Vue = {
            uri: 'users',
            uploadUri:'users/upload',
            // users:[{id:1},{id:2}],
            bean: { id: 0, name: ''},
            image:'',
            id:'',
            faceUrl:'img/faceImage/0.jpg'
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");

                    this.id = id;
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        vue.bean = response.data.data;
                        console.log(vue.bean);
                        if(vue.bean.faceImage==""||vue.bean.faceImage==null){
                            vue.faceUrl ='img/faceImage/0.jpg'
                        }else
                            vue.faceUrl = vue.bean.faceImage
                    })
                },
                update:function () {
                	if(!checkPhone(this.bean.phoneNumber))
                        return;
                	if(!checkEmail(this.bean.email))
                        return;
                    var url = this.uri;
                    axios.put(url,vue.bean).then(function(response){
                        var result = response.data;
                        if(result.status==200){
                            $("span.errorMessage").html("修改成功");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                        }
                    });
                },
                getImage: function (event) {
                    $('#_file_path').val(event.target.files[0].name);

                    this.image = event.target.files[0];
                    console.log(vue.image);
                    var url = this.uploadUri;
                    var formData = new FormData();
                    formData.append("image", vue.image);
                    console.log(formData.get("image"));
                    console.log(vue.id);
                    var id = vue.id;
                    axios.post(url,formData,id).then(function(response){
                        var result = response.data;
                        if(result.status==200){
                            vue.faceUrl =response.data.data;
                            console.log(vue.faceUrl);
                            $("span.errorMessage").html("头像修改成功");
                            $("div.loginErrorMessageDiv").css("visibility","visible");
                        }
                    });
                }
            }
        });
    });

    function Browser()
    {
        $('#singlePic').click();
    }
    // function importExcel(event) {
    //     $('#_file_path').val(event.target.files[0].name);
    // }

</script>
</body>
</html>
<body>
<!-- Header -->
<style>
    #content{
        width: 800px;
        /* float: right; */
        padding: 15px;
        position: relative;
        margin-bottom: 11cm;
        /* margin-right: 4cm; */
        margin-left: 140px;
    }
</style>
<div id="workingArea">
    <div style="position: relative">
        <div style="position: absolute;z-index: 1">
            <img src="img/3.jpg" style="height: 100%;width: 100%">
        </div>
        <div style="position: absolute;z-index: 2;background-color:rgba(255,255,255,0.6);width: 1265px;height:790px">    </div>
        <div style="position: absolute;z-index:3;width: 100%;height: 100%">
            <div id="content">

        <!--<h5 style="color: dimgray;margin-bottom: 30px;">-->
            <!--您的位置:-->
            <!--<ol class="breadcrumb">-->
                <!--<li><a href="profile">个人中心</a></li>-->
                <!--<li class="active">修改信息</li>-->
            <!--</ol>-->
        <!--</h5>-->
                <div id="loginSmallDiv" class="loginSmallDiv" style="margin-left: 0cm;top: 60px">
                    <div class="loginErrorMessageDiv">
                        <div class="alert alert-danger" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                            <span class="errorMessage"></span>
                        </div>
                    </div>
                    <div class="login_acount_text">头像</div>
                    <br>
                    <!--<input class="filter_input form-control" id="singlePic" type="file" @change="getImage($event)" name="image" />-->

                    <div style="margin-bottom:10px" class="row row_space">
                       <div style="padding-left:0px">
                            <div class="col-xs-8" >
                                <input style="display:none" type="file" @change="getImage($event)"  id="singlePic"  name="image"  class="filter_input form-control"/>
                                <input readonly="readonly" type="text" id="_file_path" class="filter_input form-control" style="background-color: white"/>
                            </div>
                            <div class="col-xs-1">
                                <button id="batch_btn_compile" @click="Browser" class="btn btn-primary" style="color: white;font-size: 14px;font-weight: bold;">浏览</button>
                            </div>
                        </div>
                    </div>



                    <img height="50px" :src="faceUrl">
                    <br>
                    <br>
                    <div class="login_acount_text" for="successfulInput" style="margin-bottom: 20px;">昵称</div>
                    <input type="text"  v-model.trim="bean.nickname"  class="form-control" style="margin-top: 10px;width: 400px;">
                    <br>
                    <div for="successfulInput" class="login_acount_text">电话</div>
                    <input type="text"  v-model.trim="bean.phoneNumber" class="form-control" style="margin-top: 10px;width: 400px;">
                    <br>
                    <div for="successfulInput" class="login_acount_text">邮箱</div>
                    <input type="text"  v-model.trim="bean.email" class="form-control" style="margin-top: 10px; width: 400px;">
                    <br>

                    <div style="margin-top:20px">
                        <button  @click="update" class="btn btn-primary" id="btn-reg" style="width: 100px;color: white;font-size: 16px;font-weight: bold;border: 2px">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- All JavaScript libraries -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Custom JavaScript -->
<script src="js/main.js"></script>
</body>
</html>
