
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/navigator::html('留言')" ></head>
<head th:include="include/admin/adminHeader::html('留言')" ></head>
<title>留言</title>
	<body>
		<div id="workingArea">
			<!--<div th:replace="include/fore/navigator::html('Reviews')" ></div>-->
			<div th:replace="include/fore/cart/reviewPage::html" ></div>
			<div th:replace="include/fore/modal::html" ></div>
			<div th:replace="include/fore/modal4login::html" ></div>

		</div>
	</body>
</html>
